{% extends 'base.html.twig' %}
{% block title %} OCAS {% endblock %}
{% block header %}Outils Complémentaires A Stage{% endblock %}
{% block content %}
<div class="full-height col-6 row offset-3 align-content-center">
    {% for nom,lien in menu.getMenu() %}
      <a role="button" class="mybutton d-flex justify-content-center align-items-center index btn btn-primary col-3" href="{{ path(lien)}}">{{nom}}</a>
    {% endfor %}
</div>
{% endblock %}
