{% extends 'base.html.twig' %}
{% block title %} OCAS {% endblock %}
{% block header %}Outils Complémentaires A Stage{% endblock %}
{% block content %}
  <div class="h-75 d-flex justify-content-around">
    <div class="col-2">
        {% for nom,lien in menu.getMenu()['frequent'] %}
          <a role="button" class="mybutton d-flex justify-content-center align-items-center index btn btn-primary" href="{{ path(lien)}}">{{nom}}</a>
        {% endfor %}
    </div>
      <div class="col-2">
          {% for nom,lien in menu.getMenu()['liste'] %}
            <a role="button" class="mybutton d-flex justify-content-center align-items-center index btn btn-primary" href="{{ path(lien)}}">{{nom}}</a>
          {% endfor %}
      </div>

  </div>

{% endblock %}
