{% extends 'base.html.twig' %}
{% block title %} OCAS {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-4"><a href="{{ path('stagiaire_list')}}">Stagiaires</a></div>
    <div class="col-sm-4">Formation</div>
    <div class="col-sm-4">Formateur</div>
</div>
{% endblock %}
