{% extends "::base.html.twig" %}

{% block title %}OCASBundle:FeuilleEmargementController:delete{% endblock %}

{% block body %}
<h1>Welcome to the FeuilleEmargementController:delete page</h1>
{% endblock %}
