{% extends "::base.html.twig" %}

{% block title %}OCASBundle:FeuilleEmargementController:list{% endblock %}

{% block body %}
<h1>Welcome to the FeuilleEmargementController:list page</h1>
{% endblock %}
