{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block nav %}
<nav>
    <ul class="nav">
      {% for nom,lien in menu.getMenu()['frequent'] %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path(lien)}}">{{nom}}</a>
      </li>
      {% endfor %}
      {% for nom,lien in menu.getMenu()['liste'] %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path(lien)}}">{{nom}}</a>
        </li>
      {% endfor %}
    </ul>
</nav>
{% endblock %}
{% block content %}
{% endblock %}
