{% extends "@OCAS/Intervenant/list.html.twig" %}
{% block retour %}
<a role="button" href="{{ path('intervenant_list') }}" class="col-sm-4 offset-4 btn btn-primary">Retour à la liste</a>

{% endblock %}
