{% extends "@OCAS/layout.html.twig" %}
{# changer l'heritage de template #}
{% block title %}ajouter un stagiaire{% endblock %}

{% block content %}
<h1>Ajouter un stagiaire</h1>

<div class="well">
  {{ form(form)}}
</div>
{% endblock %}
