{% extends "@OCAS/layout.html.twig" %}
{# changer l'heritage de template #}
{% block title %}modifier un stagiaire{% endblock %}

{% block content %}
<h1>Modifier un stagiaire</h1>
<div class="well">
  {{ form(form)}}
</div>
{% endblock %}
